:root {
    --bg_0: #2d2d3d;

    --main_color: #68ff9d;
}

.padding {padding: 20px;}

.main_0 {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.main_1 {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

.main_name {
    font-size: 40px;
    color: var(--main_color);
}

.my_url {
    position: fixed;
    bottom: 20px;
    width: 350px;
    background-color: var(--bg_0);
    padding: 10px;
}

.my_url a {
    position: relative;
    color: #68ff9d;
    text-decoration: none;
    transition: all .3s;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 90%;
}

.my_url a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}
