@media (max-width: 768px) {
    .color_name{
        position: relative !important;
        text-align: center !important;
        left: 0px !important;
    }
}

@media (max-width: 850px) {
    .descr{
        left: 50px;
        width: 500px;
    }
}

@media (max-width: 550px) {
    .descr{
        left: 50px;
        width: 330px;
        height: 400px;
    }

    .sectiont_1{height: 750px;}
}

@media (max-width: 990px) {
    .div_my_skils{left: 10px;}

    .sectiont_2{
        left: 50px;
        height: 700px;
    }

    .Projects_div{left: 60px;}
    
    .Projects_div{width: calc(100% - 100px);}
}

@media (max-width: 800px) {
    .div_lorem{
        position: relative;
        float: none !important;
        width: calc(100% - 100px);
    }

    .sectiont_2{height: 850px;}

    .percentage_div{
        top: 60px;
        left: -10px;
    }
}

@media (max-width: 640px) {
    .sectiont_2{height: 1050px;}
}

@media (max-width: 440px) {
    .sectiont_2{height: 1350px;}
}
